@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: 'Open Sans', sans-serif;
}
#hero{
    height: 110vh;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background-color: transparent;
}
.navbar-menu{
    background-color: transparent !important;
    /* text-align: center; */
}
.navbar-item{
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    font-size: .9em;
}
#hero{
    color: #ffffff !important;
}
.navbar-item:hover{
    background-color: transparent !important;
    color: #FF3860 !important;
}
.active-link{
    color: #FF3860 !important;
}
.hero-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4em;
}
.hero-column .is-1{
    line-height: 1.5em;
    font-size: 4em;
    color: #ffffff !important;
}
.hero-column .subtitle{
    line-height: 1.5em;
    color: #ffffff !important;
    font-size: 1em;
}
.hero-column .button{
    font-size: 1.1em;
    padding: 1.8em;
    color: #ffffff;
}
.fa-chevron-right{
    padding-left: 1em;
}
.hire{
    background-color: #4646469d;
    border: none;
}
/* .website{
    background-color: #FF0047;
    border: none;
} */

.navbar-brand is-4{
    color: #ffffff;
}
.navbar-burger{
    color: #ffffff !important;
}
.logo{
    background-image: url('../img/logo.svg');
    height: 7em;
    width: 9em;
    background-size: 100% 100%;
}
.projects{
    margin-top: 2em;
}
.projects .fa-gitlab{
    padding-left: 1em;
}

.projects .buttons{
    margin-top: 1em;
}
.location{
    width: 100%;
    height: 20em;
}


.me img{
    margin: 1em auto;
    display: block;
    height: 30%;
    width: 30%;
}

.social{
    text-align: center;
}
.social a{
    color: #FF3860;
    margin: .5em;
}

.tech{
    font-size: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .3em;
}

.tech i{
    margin: 3px;
}

.tech img{
    height: 64px;
    width: 64px;
}


.foot-text{
    font-size: 0.7em;
}

@media (max-width:768px){
    .hero-column .is-1{
        line-height: normal;
        font-size: 2.5em;
    }
    .logo{
        height: 5em;
        margin-left: 1em;
    }
    .is-active{
    background-color: #4646469d !important;
}
}
